@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --pink: #ea3568;
}

html,
body {
  overflow-x: none;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}

.banner {
  background-color: #100407;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.logo_cover img.logo_image {
  height: 3rem;
}

canvas{
  /* width: 100%; */
  height: 100vh !important;
}
button.button {
  border: none;
  background-color: var(--pink);
  color: white;
  border-radius: 5px;
  outline: none;
  padding: 0.5rem 0.8rem;
}
.banner .content {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%); /* Combine both transformations */
  bottom: 15vh;
  animation: content_animation 5s linear;
}

@keyframes content_animation {
  0% {
    bottom: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    bottom: 15vh;
    transform: translate(-50%, 0%);
  }
}

.banner .content h2 {
  color: white;
  font-size: 0.87rem;
}

.banner .content h2:first-child,
.banner .content h2:last-child {
  color: var(--pink);
}

html,
body {
  overflow-x: hidden;
}




.icons{
  position: fixed;
  bottom: 5vh;
  right: 30px;
}
.icons .icon{
  background-color: var(--pink);
  border-radius: 50%;
  aspect-ratio: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons .icon > * {
  color: white;
  font-size: 20px;
}


.card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  border-radius: 8px;
  height: 100%;
}
.card h4{
  color: #991313;
  font-size: 25px;
  margin-top: 4px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* bootstrap breakpoints media queries */
@media screen and (min-width: 576px) {
  .banner .content h2 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .logo_cover img.logo_image {
    height: 68px;
  }
  .banner .content h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
