@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --pink: #ea3568;
}

html,
body {
  overflow-x: none;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}

.banner {
  background-color: #100407;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.logo_cover img.logo_image {
  height: 3rem;
}

canvas{
  /* width: 100%; */
  height: 100vh !important;
}
button.button {
  border: none;
  background-color: var(--pink);
  color: white;
  border-radius: 5px;
  outline: none;
  padding: 0.5rem 0.8rem;
}
.banner .content {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%); /* Combine both transformations */
  bottom: 15vh;
  animation: content_animation 5s linear;
}

@keyframes content_animation {
  0% {
    bottom: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    bottom: 15vh;
    transform: translate(-50%, 0%);
  }
}

.banner .content h2 {
  color: white;
  font-size: 0.87rem;
}

.banner .content h2:first-child,
.banner .content h2:last-child {
  color: var(--pink);
}

html,
body {
  overflow-x: hidden;
}




.icons{
  position: fixed;
  bottom: 5vh;
  z-index: 100;
  right: 30px;
}
.icons .icon{
  background-color: var(--pink);
  border-radius: 50%;
  aspect-ratio: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons .icon > * {
  color: white;
  font-size: 20px;
}


.card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  border-radius: 8px;
  height: 100%;
}
.card h4{
  color: #991313;
  font-size: 25px;
  margin-top: 4px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}








.footer{
  background: conic-gradient(from 90deg at 50% 50%, #350606 50%, #bc0101 100%);
  width: 100%;
  padding: 2.3rem 0;
  min-height: 500px;
}









































.hide {
  display: none!important;
}


.gallery-wrapper {
  position: relative;
  z-index: 1;
  /* aspect-ratio: 2/1; */
}

.gallery-wrapper .content {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
  padding: 3vh;
  margin: 0 auto;
}

.gallery-wrapper .content .gallery.full {
  position: relative;
  display: flex;
  align-items: center;
}

.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper {
  display: flex;
  /* height: 80vw; */
  align-items: center;
}

.gallery-wrapper .content .gallery.full .swiper-container .swiper-slide {
  position: relative;
  max-height: 250px;
  height: 100%;
  transition: all .4s ease-out;
  box-sizing: border-box;
  width: auto;
  opacity: 1;
  overflow: hidden;
  border-radius: 13px;
}

.gallery-wrapper .content .gallery.full .swiper-container .swiper-slide.swiper-slide-prev,
.gallery-wrapper .content .gallery.full .swiper-container .swiper-slide.swiper-slide-next {
  width: 20%!important;
}

.gallery-wrapper .content .gallery.full .swiper-container .swiper-slide.swiper-slide-active {
  max-height: 300px;
  height: 100%;
  width: 60%!important;
  opacity: 1;
}

.gallery-wrapper .content .gallery.full .swiper-container .swiper-slide.swiper-slide-active:hover .zoom {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.gallery-wrapper .content .gallery.full .swiper-container .swiper-slide .image {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  overflow: hidden;
}

.gallery-wrapper .content .gallery.full .swiper-container .swiper-slide .image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gallery-wrapper .content .gallery.full .swiper-container .swiper-slide .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 50px 50px 30px 50px;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-out;

}

.gallery-wrapper .content .gallery.full .swiper-container .swiper-slide.swiper-slide-active .overlay.show {
  opacity: 1;
  visibility: visible;
}

.gallery-wrapper .content .gallery.full .swiper-next-button,
.gallery-wrapper .content .gallery.full .swiper-prev-button {
  position: absolute;
  z-index: 99;
  outline: none;
  transition: all .2s linear;
  width: 20%;
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.gallery-wrapper .content .gallery.full .swiper-next-button.swiper-button-disabled,
.gallery-wrapper .content .gallery.full .swiper-prev-button.swiper-button-disabled {
  opacity: .2;
}

.gallery-wrapper .content .gallery.full .swiper-next-button em,
.gallery-wrapper .content .gallery.full .swiper-prev-button em {
  font-size: 68px;
}

.gallery-wrapper .content .gallery.full .swiper-next-button {
  right: 5.6vw;
  padding-left: 5vw;
  justify-content: flex-start;
}

.gallery-wrapper .content .gallery.full .swiper-prev-button {
  left: 5.6vw;
  padding-right: 5vw;
}


.gallery-wrapper .content .gallery.thumb {
  position: relative;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.gallery-wrapper .content .gallery.thumb .swiper-container {
  width: 100%;
}

.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  height: 10vh;
  box-sizing: border-box;
  cursor: pointer;
}

.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-slide.swiper-slide-thumb-active .image {
  box-shadow: inset 0px 0px 0px 2px #ed1b28;
  padding: 2px;
}

.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-slide .image {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-slide .image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-slide .image .overlay {
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: rgba(43, 44, 54, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  opacity: 0;
  transition: all .2s linear;
}

.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-next-button,
.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-prev-button {
  position: absolute;
  z-index: 99;
  outline: none;
  transition: all .2s linear;
  width: 32px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ed1b28;
  cursor: pointer;
}

.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-next-button:hover,
.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-prev-button:hover {
  background-color: #b80013;
}

.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-next-button.swiper-button-disabled,
.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-prev-button.swiper-button-disabled {
  opacity: .2;
}

.gallery-wrapper .content .gallery.thumb .swiper-next-button em,
.gallery-wrapper .content .gallery.thumb .swiper-prev-button em {
  transform: rotate(180deg);
}

.gallery-wrapper .content .signature {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.gallery-wrapper .content .signature h3 {
  font-weight: 600;
  font-size: .926em;
  color: #ed1b28;
  display: flex;
  margin-bottom: 5px;
}

.gallery-wrapper .content .signature a,
.gallery-wrapper .content .signature em {
  text-decoration: none;
  color: #777;
  margin-right: 5px;
  font-size: .88em;
  transition: all .2s linear;
}

.gallery-wrapper .content .signature a:hover,
.gallery-wrapper .content .signature em:hover {
  color: #aaa;
}

@media only screen and (max-width: 1024px) {
  .gallery-wrapper .content {
      padding: 5vh 0;
  }

  .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper {
      /* height: 70vh; */
  }

  .gallery-wrapper .content .gallery.full .swiper-container .swiper-slide {
      height: 30vh;
  }

  .gallery-wrapper .content .gallery.full .swiper-container .swiper-slide.swiper-slide-prev,
  .gallery-wrapper .content .gallery.full .swiper-container .swiper-slide.swiper-slide-next {
      width: 10%!important;
  }

  .gallery-wrapper .content .gallery.full .swiper-container .swiper-slide.swiper-slide-active {
      /* height: 40vh; */
      height: 80vw;
      max-height: 300px;
      width: 80%!important;
  }

  .gallery-wrapper .content .gallery.full .swiper-next-button,
  .gallery-wrapper .content .gallery.full .swiper-prev-button {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .gallery-wrapper .content .gallery.full .swiper-next-button {
      padding-left: 0;
  }

  .gallery-wrapper .content .gallery.full .swiper-prev-button {
      padding-right: 0;
  }

  .gallery-wrapper .content .gallery.thumb {
      padding: 0 30px;
      max-width: 100%;
  }

  .gallery-wrapper .content .gallery.thumb .swiper-container .swiper-wrapper .swiper-slide {
      height: 80px;
  }

  .gallery-wrapper .content .gallery.thumb .swiper-next-button {
      right: 10px;
  }

  .gallery-wrapper .content .gallery.thumb .swiper-prev-button {
      left: 10px;
  }

  .signature {
      display: none;
  }
}





















































/* bootstrap breakpoints media queries */
@media screen and (min-width: 576px) {
  .banner .content h2 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .logo_cover img.logo_image {
    height: 68px;
  }
  .banner .content h2 {
    font-size: 1.5rem;
  }
  .footer{
    padding: 2.3rem;
  }  
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
